// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);
}
.spollers__list{
	display: flex;
	flex-direction: column;
	gap: 25px;
	&__item{
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		&:hover{
			text-decoration: underline;
		}
	}
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	font-size: rem(24);
	font-weight: 500;
	cursor: default;
	text-align: left;
	border-radius: rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 20px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	
	padding-left: rem(10);
	
	padding-top: rem(15);
	border-radius: rem(5);

}
