.contacts {
   margin-bottom: rem(115);
   // .contacts__container
   &__container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      @media (max-width:$mobile){
          flex-direction: column; 
          align-items: center;
      }
   }
   // .contacts__left
   &__left {
      padding-top: 10px;
      @media (max-width:$mobile){
         text-align: center;
      }
   }
   // .contacts__list
   &__list {
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-bottom: rem(30);

   }
   // .contacts__item
   &__item {
      display: flex;
      gap: 15px;
   }
   // .contacts__icon
   &__icon {
      align-self: flex-start;
   }
   // .contacts__text
   &__text {

      @include adaptiveValue("font-size", 21, 16);
      font-weight: 500;
      
   }
   // .contacts__schedule
   &__schedule {
      margin-bottom: rem(16);
   }
   // .contacts__subtitle
   &__subtitle {
      font-weight: 500;
      @include adaptiveValue("font-size", 21, 16);
      margin-bottom: rem(10);
      line-height: 150%;
   }
   // .contacts__info
   &__info {
      font-weight: 500;
      @include adaptiveValue("font-size", 21, 16);
      line-height: 150%;
   }
   // .contacts__types
   &__types {
   }
   // .contacts__type
   &__type {
      @include adaptiveValue("font-size", 21, 16);
      font-weight: 500;
      line-height: 150%;
      &:not(:last-child){
         margin-bottom: rem(6);
      }
   }
   // .contacts__right
   &__right {
      
   }
   // .contacts__image
   &__image {
      max-width: 100%;
      height: auto;
      object-fit: cover;
   }
}
