.ourObjects {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: rem(115);
    // .ourObjects__title
    &__title {
        text-align: center;
        font-family: 'EB Garamond';
        font-style: normal;
        font-weight: 400;
        @include adaptiveValue("font-size", 56, 32, 1200, 320, 1);
        line-height: 114%;
        @include adaptiveValue("margin-bottom", 40, 20, 1200, 320, 1);
   
    }
    // .ourObjects__slider
    &__slider {
        position: relative;
    }
    // .ourObjects__wrapper
    &__wrapper {
    }
    // .ourObjects__slide
    &__slide {
        @include adaptiveValue("margin-bottom", 80, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;
        
    }
    &__image{
        text-align: center;
        max-width: 700px;
            @include adaptiveValue("margin-bottom", 50, 40);
            img{
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
    }
    &__describe{
        line-height: 150%;
        @include adaptiveValue("font-size", 24, 18);
        text-align: center;
        
    }
    &__button-prev{
        bottom: 0;
    }
    &__button-next{
        bottom: 0;
    }

    &__pagination{
        font-size: 18px;
        bottom: 12px!important;
    }
    &__left{
        bottom: 0px;
        left: 40%!important;
        top: initial!important;
        transform: rotate(-180deg);
        &::after{
            content: ''!important;
        }
        @media(max-width: 820px){
            left: 30%!important;
        }
    }
    &__right{
        bottom: 0px;
        right: 40%!important;
        top: initial!important;
        &::after{
            content: ''!important;
        }
        @media(max-width: 820px){
            right: 30%!important;
        }
    }
}
